doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Simple Music Bot
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    section
      h1 Simple Music Bot
      a(href='/auth/spotify') Login with Spotify
      button#voice
        i.fa.fa-microphone
      div
        br
        p
          | You said: 
          em.output-you ...
        p
          | Bot replied: 
          em.output-bot ...
        br
        p Or please type
        input#message(type='text', name='message', value='')
        button#text(type='button') Send
    audio(src='', style='display: none;')
    script(type = "text/javascript", src = "../jquery/dist/jquery.min.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../jquery.cookie/jquery.cookie.js", charset = 'utf-8')
    script(src='/socket.io/socket.io.js')
    script(src='js/script.js')
