doctype html
html
    head
        title Spotify Visualization
        style.
            body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            p{
                font-size:200%;
            }

            img{
                width:100%;
            }

            #code{
                color: blue;
                background-color: #e1e100;
                font-weight: bold;
                margin: 5px;
            }

    body
        p You have finished the study. Thank you~
        div(style='width:40%;height:auto')
            img(src="https://media.giphy.com/media/osjgQPWRx3cac/giphy.gif")
